@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family:  'Cabin', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.contain{
    padding: 0 2em;
}

h1{
    font-size: 3em;
}

p{
    font-size: 1.6em;
    line-height: 1.5em;
    margin: 2em 0;
    color: #5a5444;
}

.learn{
    color: #5a5444;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.benefits{
    display: block;
}

.benefits p{
    display: inline;
    font-weight: bolder;
}

.checkmark{
    margin-right: 1em;
}

.sec-img{
    width: 100%;
}

.info{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.2em;
}

.info p{
    color: white;
    margin: 0;
    display: inline;
}

.info span{
    text-decoration: underline;
}

.header{
    padding: 3em 2em;
    background: #f0eeeb;
}

header nav{
    display: none;
}

.menu-nav{
    width: 100%;
    text-align: center;
    list-style-type: none;
    font-size: 1.4em;
}

.menu-nav li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.7em;
    transition: all 1s;
}

.menu-nav li a:hover{
    background-color: #ccc;
}

.btn{
    display: none;
    padding: 1em 2em;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background: black;
    border-radius: 5px;
}

.btn-sec{
    display: inline;
}

.email{
    margin: 2em 0;
    padding: 1em 0.5em;
    text-align: center;
    font-size: 1.5em;
    margin-right: 1em;
    border-radius: 5px;
    width: 50%;
    color: #ccc;
}

.icon-menu{
    float: right;
    padding: 2px;
    transition: all 2s;
    cursor: pointer;
}

.icon-menu:hover{
    outline: 1px solid green;
}

.name-link{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}

.sec1{
    clear: right;
    background-color: #f0eeeb;
    padding: 0 2em;
    padding-bottom: 2em;
}

.sec1-img{
    margin-bottom: 3em;
}

.sec1-text img{
    display: inline-block;
}

.logos{
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.logos img{
    width: 50%;
    padding: 2em;
}

.sec2{
    background-color: #f0eeeb;
    border-radius: 10px;
    padding: 2em 2em 0;
    margin-bottom: 2em;
}


.sec2-img img{
    padding: 0;
    display: block;
    margin: auto;
}

.editor-img{
    width: 100%;
    margin: 1em 0;
}

footer{
    background: black;
    padding: 2.5em 2em;
}

.name-link-footer{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0;
}

.footer-text p:nth-child(1){
    color: white;
}

footer ul{
    list-style-type: none;
}

footer ul li:nth-child(1){
    color: white;
    font-size: 1.6em;
}

footer ul li{
    color: #5a5444;
    font-size: 1.2em;
}

.footer-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 1em;
}
